<!-- <nav>
  <div>
    <a href="/">home</a>
    <a href="/auth/login">login</a>
    <a href="/about">about me</a>
  </div>
</nav> -->

<nav class="navbar-light bg-light">
  <a class="navbar-brand" href="/">Prisma Vault</a>
  <div class="navbar-nav" id="navbarNav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/auth/login">Login</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/about">Contact</a>
  </div>
</nav>


